<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>820289775510-06aij0tfmksdqdqhugsaqn20698q8eeh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.820289775510-06aij0tfmksdqdqhugsaqn20698q8eeh</string>
	<key>API_KEY</key>
	<string>AIzaSyAdIrYH3gyky3-yZcIB7jkVfJeEYl6bNOE</string>
	<key>GCM_SENDER_ID</key>
	<string>820289775510</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.timeTrackerApp</string>
	<key>PROJECT_ID</key>
	<string>time-track-app-eef71</string>
	<key>STORAGE_BUCKET</key>
	<string>time-track-app-eef71.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:820289775510:ios:5a75110383647e340bdfb7</string>
</dict>
</plist>